<div class="navbar">
  <div class="content" fxLayout="row" fxLayoutAlign="start center">
    <div class="brand">
      <h3 class="title">Mjusik</h3>
    </div>
    <div fxFlex="1 1 100">
      <mat-form-field class="full-width">
        <input type="text" matInput [placeholder]="placeholder" [formControl]="searchControl">
      </mat-form-field>
    </div>
    <div class="buttons" fxLayout="row">
      <button mat-button color="primary" [routerLink]="['/']">Albums</button>
      <button mat-button color="primary" [routerLink]="['/facets']">Facets</button>
      <button mat-button color="primary" [routerLink]="['/']">Artists</button>
    </div>
  </div>
</div>
